* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", "Times New Roman";
}
/* CSS untuk Template */
.top-padding-10 {
  padding-top: 10px;
}
.top-padding-20 {
  padding-top: 20px;
}
.top-padding-30 {
  padding-top: 30px;
}
.top-padding-40 {
  padding-top: 40px;
}
.top-padding-50 {
  padding-top: 50px;
}
.v-margin-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.v-margin-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.v-margin-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.v-margin-40 {
  margin-top: 40px;
  margin-bottom: 40px;
}
.v-margin-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
/* header */
#home {
  padding-top: 80px;
}
nav,
footer {
  padding: 15px;
  justify-content: space-between;
  background-color: #6daffe;
}
nav ul {
  display: flex;
  padding-right: 50px;
}
nav ul li a:hover {
  color: white;
  font-size: 1em;
  text-decoration: none;
}

nav #drop span {
  display: none;
}
nav h4 {
  font-family: "Big Shoulders Stencil Display", cursive;
  letter-spacing: 2.5px;
}
nav ul li {
  list-style: none;
  width: 20%;
  justify-content: center;
  padding: 0 10px;
}
nav ul li a {
  color: black;
  font-size: 1em;
  text-decoration: none;
}
nav {
  z-index: 99;
  position: fixed;
  width: 100vw;
}
header {
  min-height: 45vh;
  background-color: #6daffe;
}

.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
/* About */

.abouttext {
  margin: 0px 10vw;
  justify-content: center;
}
.abouttext p {
  text-align: justify;
  margin: 10px;
}
/* Skill */
.logo li img {
  width: 70px;
}

.logo {
  justify-content: center;
  align-items: center;
}
.logo li {
  width: 100px;
  margin: 15px;
  text-decoration: none;
  list-style-type: none;
}

#bgskill {
  padding-bottom: 30px;
}

/* Works */
.port {
  background-color: #6daffe;
  padding-bottom: 30px;
}
.portofolio li {
  list-style: none;
  margin: auto;
}
.portofolio li img {
  box-shadow: 1px 4px 8px 0 rgb(67, 127, 199, 0.5);
  transition: 0.5s;
  width: 30vw;
}
.portofolio li img:hover {
  box-shadow: 1px 4px 8px 0 rgb(67, 127, 199, 0.8);
  width: 45vw;
}
.slide {
  position: relative;
  display: none;
  justify-content: center;
}
.slide img {
  width: 80vw;
}
.button {
  top: 50%;
  width: 80vw;
  position: absolute;
  justify-content: space-between;
}
.button a {
  text-decoration: none;
  color: white;
  text-shadow: 0 0 3px #000000, 0 0 5px #000000;
  font-size: 30px;
  padding: 0 15px;
  transition: 0.5s;
}
#close {
  font-family: "Big Shoulders Stencil Display";
  position: absolute;
  width: 80vw;
  text-align: center;
  top: 100%;
  text-decoration: none;
  color: black;
  transition: 0.5s;
  font-size: 20px;
}
#close:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
}
.button a:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
}
/* Contact */

#bgcontact {
  margin-top: 50px;
}
.contact {
  justify-content: center;
  flex-wrap: wrap;
}
aside {
  background-color: white;
  border-radius: 4px;
  order: 1;
  box-shadow: 1px 4px 8px 0 rgb(67, 127, 199, 0.5);
  transition: 0.4;
  margin: 20px;
  height: 100%;
  padding: 10px;
}
aside:hover {
  box-shadow: 1px 4px 8px 0 rgb(67, 127, 199, 0.9);
  transition: 0.4s;
}
aside img {
  margin: auto;
  border-radius: 5px;
}
form {
  background-color: white;
  order: 2;

  box-shadow: 1px 4px 8px 0 rgb(67, 127, 199, 0.5);
  border-radius: 4px;
  margin: 20px 10px;
  padding: 10px;
}
.form {
  padding: 10px;
}
.form input {
  padding: 0 10px;
  width: 70vmin;
  height: 3.7vh;
  border: 0.5px solid black;
  border-radius: 3px;
}
.form input:focus {
  outline: 1.5px solid #437fc7;
}
.form textarea:focus {
  outline: 1.5px solid #437fc7;
}
.form textarea {
  padding: 10px;
  width: 70vmin;
  height: 15vh;
  border: 0.5px solid black;
  border-radius: 3px;
}
.form button {
  width: 95px;
  height: 35px;
  border: 2px solid #437fc7;
  background-color: white;
  border-radius: 5px;
  color: #437fc7;
  font-size: 1em;
  transition: 0.8s;
}
.form button:hover {
  background-color: #437fc7;
  color: white;
}

/* Media Query Tablet */
@media screen and (max-width: 768px) {
  .portofolio {
    flex-direction: column;
  }

  header h1 {
    font-size: 4vmax;
  }
  header h3 {
    font-size: 2vmax;
  }
  .portofolio li img {
    width: 80vw;
    margin-top: 10px;
  }
  .portofolio li img:hover {
    box-shadow: 1px 4px 8px 0 rgba(0, 0, 0, 1);
    width: 80vw;
  }
  form {
    order: 1;
  }
  logo li {
    margin: auto;
  }
}
/* Media Query Mobile */
@media screen and (max-width: 576px) {
  nav {
    padding-left: 0px;
    flex-wrap: wrap;
  }
  nav h4 {
    padding-left: 10px;
  }
  nav ul {
    display: none;
    text-align: center;
    width: 100%;
    flex-direction: column;
    margin: auto;
  }
  nav #drop {
    margin-top: 0px;
    margin-right: 30px;
    padding: 1px;
  }
  nav #drop span {
    display: block;
    width: 20px;
    height: 3px;
    background-color: black;
    margin-top: 3px;
  }
  nav ul {
    padding: 0px;
  }
  nav ul li {
    width: 100%;
    height: min-content;
    padding: 10px 0;
  }
  nav ul li:hover {
    width: 100%;
    background-color: white;
  }
  nav ul li a {
    width: 100%;
  }
  nav ul li a:hover {
    color: black;
  }
  header h1 {
    font-size: 4vmax;
  }
  header h3 {
    font-size: 2vmax;
  }
  .abouttext {
    flex-direction: column;
  }
  .portofolio {
    flex-direction: column;
  }
  .portofolio li img {
    width: 80vw;
    margin-top: 10px;
  }
}
